body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #fff0f5;
    color: #ff1493;
    text-align: center;
    padding: 20px;
    overflow-x: hidden;
    position: relative;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ff69b4;
    text-shadow: 2px 2px 5px #ff1493;
}

#content {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 20, 147, 0.5);
    border: 3px solid #ff69b4;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #ff69b4;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #ff1493;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ff69b4;
}

#preview-container {
    margin-top: 20px;
}

#generated-link-container {
    margin-top: 20px;
}

.slides {
    display: none;
    width: 100%;
    border: 5px solid #ff69b4; /* Contorno rosa */
    border-radius: 15px;
    aspect-ratio: 9 / 16; /* Define a proporção 9:16 */
}

#preview-text {
    margin-top: 20px;
    font-size: 1.5em;
    color: #ff1493;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .slides {
        max-width: 100%;
    }

    #preview-text {
        font-size: 1.2em;
    }
}
