body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #fff0f5;
    color: #ff1493;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ff69b4;
    text-shadow: 2px 2px 5px #ff1493;
}

#content {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 20, 147, 0.5);
    border: 3px solid #ff69b4;
    position: relative;
    overflow: hidden;
}

#preview-slideshow {
    position: relative;
    width: 100%;
    max-width: 600px; /* Limite de largura */
    max-height: 400px; /* Limite de altura */
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    background-color: #ffe4e1; /* Cor de fundo para mostrar os limites */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides {
    display: none;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ajusta a imagem/vídeo para caber no contêiner sem cortar */
    border-radius: 15px;
}

#preview-text {
    margin-top: 20px;
    font-size: 1.5em;
    color: #ff1493;
    text-align: center;
}

#preview-music {
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #ff1493;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ff69b4;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    #preview-text {
        font-size: 1.2em;
    }

    button {
        font-size: 1em;
        padding: 8px 16px;
    }

    #preview-slideshow {
        max-width: 90%;
        max-height: 300px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    #preview-text {
        font-size: 1em;
    }

    button {
        font-size: 0.9em;
        padding: 6px 12px;
    }

    #preview-slideshow {
        max-width: 100%;
        max-height: 200px;
    }
}
